{
  "presets": [
    [
      "env", {
        "modules": false,
        "targets": {
          "browsers": ["> 1%", "last 4 versions", "not ie < 9"]
        }
      }
    ],
    "react",
    "stage-0"
  ],
  "plugins": ["react-hot-loader/babel", "transform-runtime", "babel-plugin-styled-components"]
}
